@using CoreFirstWebsite.Models.Links
@model LinksListViewModel

@{
    ViewData["Title"] = "Les Liens";
    Layout = "_newLayout";
}

<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("_reseauxSociaux")

<div>
    <i>Nombre de liens à afficher : @Model.AllLinks.Count() </i>
</div>
<div class="shadow m-3">
    @foreach(var lien in Model.AllLinks)
    {
        <a class="btn btn-secondary" 
            asp-controller="Links" 
            asp-action="Link" 
            asp-route-idLien="@lien.Id" >Modifier</a>
        <p class="text-bold">@lien.Name</p>
        <p>@lien.Description</p>
        <a class="btn btn-primary" href="@lien.Url" target="_blank">Go !</a>
    }
</div>

<div class="shadow m-3">
    @foreach(var user in Model.AllUsers)
    {
        <p class="text-bold">@user.Name</p>
        <p>@user.Surname</p>
        <a class="btn btn-primary" href="mailto:@user.Mail" target="_blank">Envoyer un mail</a>
    }
</div>


@section Scripts{
    <script src="~/js/Links/index.js" asp-append-version="true"></script>
}

@section LesFichiersCss{
    <!-- Sera dans la section les fichiers CSS -->
    <link rel="stylesheet" href="~/css/Links/index.css" />
}