@using m2iWebApp.Models
@model LinkModel

@{
    ViewData["Title"] = @Model.Name;
}

<h1>@ViewData["Title"]</h1>

<form>
    <input type="hidden" asp-for="Id" />
    @Html.TextBoxFor(model => model.Name)
    @Html.TextBoxFor(model => model.Description)
    @Html.TextBoxFor(model => model.Url)
</form>
@await Html.PartialAsync("_reseauxSociaux")


@section Scripts{
}

@section LesFichiersCss{
}